[Unit]
Description=Jenkins
After=syslog.target network.target

[Service]
Environment=JAVA_HOME=/usr/local/java/latest
Environment=JENKINS_HOME={{jenkins_install_path}}/home

ExecStart=/bin/sh -c '/usr/local/java/latest/bin/java -jar {{jenkins_install_path}}/jenkins.war {{jenkins_extra_params}} --webroot={{jenkins_install_path}}/webroot > {{jenkins_install_path}}/jenkins.log 2>&1'
#StandardOutput=file:{{jenkins_install_path}}/jenkins.log
#StandardError=file:{{jenkins_install_path}}/jenkins.err

User=jenkins
Group=jenkins

[Install]
WantedBy=multi-user.target
